@font-face{
  src: url(../assets/Caveat-Regular.ttf);
  font-family: cali;
}
html {
  scroll-behavior: smooth;
}
*{

    text-decoration: none;
    box-sizing: border-box;
    }
    body{
        margin:0;
        padding: 0;
        height: 100vh;
        font-family: sans-serif;
        scroll-behavior: smooth;
        background-position: center;
        background-size: cover;
      }
header{
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: white;
  box-shadow:0 0.5rem 1rem 0 rgba(21,21,30,0.08);
}
  

  

.menu-btn{
  display: none;
}
.pagelogo{
    
    padding: 0 70px 3px;
    box-sizing: border-box;
    float: left;
    font-weight: 100;
  
  }
  .logo{
    width: 30px;
  }
  
nav{
    float: right;
  
  }
  nav ul{
    margin:0;
    padding:0;
    display: flex;
    padding-right:50px ;
  } 
   nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 20px 20px;
    text-decoration: none;
    color: #1E90FF	;
  }
  nav ul li{
    list-style: none;
   height: 5px;
  }
  section{position: absolute;

    justify-content: center;
    align-items: center;
  }
  .sec1{
      position: relative;
      display: flex;
      width: 100%;

      justify-content: center;
      align-items: center;
  }
.sec1 img{
    height: 100vh;
    width: 95%;
    
    object-fit: cover;
}
nav ul li a.active,
nav ul li a:hover{
  background: linear-gradient(to right, #667eea     0%,#764ba2 100%);
  color: #fff;
  transition: 0.5s;
}.minediv{
  position: absolute;
  top: 20%;
}
.minep{
  margin: 0;
  font-family: cali;
  font-size: 40px;
  background: linear-gradient(to right, #2193b0   0%,#6dd5ed 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.sec2{
  position: relative;
  display: flex;
      width: 100%;
      height: 100vh;

      justify-content: center;
      align-items: center;
}
.seclast{
  position: relative;
  display: flex;
      width: 100%;
      height: 100vh;

      justify-content: center;
      align-items: center;
}
.seclast img{
  height: 100vh;
  width: 100%;
  
  object-fit: cover;
}
.mine{
  height: 200px;
  border-radius: 50%;
}
.about{
  position: absolute;
  bottom: 0;
}
.foot1{
  display: inline;
  list-style: none;
}
.foot1 a{

  color: whitesmoke;
  opacity: 0.8;
  font-size: 35px;
    text-align: center;
    padding: 10px;
    
}
footer{
  position: relative;
  height: 50%;
  padding-top: 40px;
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);

  background: linear-gradient(to right, #000428  0%,#004e92 100%);
}
footer ul{
  margin: 0 20px;
  
  text-align: center;
}

.footer_text{
  color: #5b86e5 ;
  text-align: center;
}
.footer_text a{
  font-family: cali;
  color: white;
  font-size: 21px;
}
.welcometext1{
  position: absolute;
  top: 70%;
  font-family: cali;
  left: 10%;
  font-size: 100px;
  color: white;
  z-index: 3;


}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #42275a 0%,#734b6d 100%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 10px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.copyright{position: absolute;
  bottom: 0em;
  z-index: 1000;
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
 width: 100%;
  background-color: #141e30;
  height: auto;
}
@media screen and (max-width:779px){
  
  nav{
    display: none;
    }
    nav ul li a{
      opacity: 0;
    }
  .menu-btn {
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-top: 0;
    padding-right: 0;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 25px;
    height: 3px;
    padding: 0;
    background: #208AAE;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(242, 241, 239, 1);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #208AAE;
    border-radius: 5px;
    box-shadow: 0 2px 5px  rgba(242, 241, 239, 1);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-8px);
  }
  .menu-btn__burger::after {
    transform: translateY(8px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
 
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .pagelogo{
    padding-left: 25px;
  }
  .logo{
    width: 25px;
  }
  nav ul li a .activeani{
    opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);
    transition: opacity 0.5s ease-in-out;
  }
  
  .activemenu{
    display: inline;
    }
    #navint { position:absolute; top:0; left:50%; width:50%; height:100%; }
		#navint ul {position:absolute; top:50%; left:73px; margin-top:-260px/*js*/;display:inline-block;}
			#navint ul li {display:block; margin-bottom:0px;padding:40px;}
			#navint ul li a {display:inline-block; padding:13px 0 13px 33px;
			font-size:1.7em; font-weight:300; letter-spacing:0.08em; background-repeat:no-repeat; color:#FFF; text-decoration:none}

   
      /* nav.active ul li a{
        margin: 0;
        } */
        nav ul li a.active,
nav ul li a:hover{
  background:none;
  color: #fff;
  transition: 0.5s;
}
  #navint{ left:0;position: absolute;width: 100%; top:70px;  height:100vh;opacity:0.9; background-color:#2d2e43; }
  #navint ul {position:relative; top:0; left:0; margin:0;padding:10px 0 40px 30px; height:auto}
  #navint ul li { margin-bottom:1px}
  #navint ul li a {padding:5px 0 5px 18px;background-size:6px; font-size:1.3em; letter-spacing:0.05em;}}